main {
  background-color: hsl(285, 88%, 90%);
}

.container {
  border-radius: 30px;
}

.container .traditional {
  background-color: white;
  border-radius: 30px;
}

.traditional.box {
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
}
.layered.box {
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.bg-success {
  border-radius: 0 0 30px 30px;
}

h1 {
  color: white;
}

h1,
h2 {
  text-align: center;
}
